@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(grasslands.png);
    image-rendering: pixelated;


    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}

img {
    image-rendering: pixelated;
}